

<div class="text-input">
    <%= form_for(@player, :url => { controller:'players', action:'create'})do |i| %>
    <%= i.label :選手名%>
    <br>
    <%= i.text_field :name,size: 140 %>
    <br>
    <%= i.label :性別%>
    <br>
    <%= i.radio_button :sex, '男', class: "radio_btn", id: 'man' %>
    <%= i.label '男', for: 'man' %>
    <%= i.radio_button :sex, '女', class: "radio_btn", id: 'woman' %>
    <%= i.label '女', for: 'woman' %>
    <br>
    <%= i.label :専門種目%>
    <br>
    <%= i.radio_button :s1, '自由形', class: "radio_btn", id: 'fr' %>
    <%= i.label '自由形', for: 'fr' %>
    <%= i.radio_button :s1, '平泳ぎ', class: "radio_btn", id: 'br' %>
    <%= i.label '平泳ぎ', for: 'br' %>
    <%= i.radio_button :s1, '背泳ぎ', class: "radio_btn", id: 'ba' %>
    <%= i.label '背泳ぎ', for: 'ba' %>
    <%= i.radio_button :s1, 'バタフライ', class: "radio_btn", id: 'fly' %>
    <%= i.label 'バタフライ', for: 'fly' %>
    <br>
    <%= i.label :誕生日%>
    <br>
    <%= i.date_field :birthday, size: 140 %>
    <br>
    <%= i.submit "EDIT"%>
    <%= button_to "DELETE", player_path(@player.id), method: :delete %>
    <% end %>
</div>
